@font-face {
    font-family: 'MapoGoldenPier';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/MapoGoldenPierA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'MaruBuri-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/MaruBuri-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.loading {
    width: 100vw;
    height: 100vh;

    background-color: rgb(253, 252, 240);

    display: flex;
    justify-content: center;
    align-items: center;
}

.loading__box {
    width: 200px;
    height: 200px;

    border-radius: 50%;
    /* HEX를 RGBA로 변환 - ctrl+alt+r */
    border: solid 13px rgba(231, 26, 15, 0.5);
    border-color: rgba(231, 26, 15, 1.0) rgba(231, 26, 15, 0.5) rgba(231, 26, 15, 0.5);

    animation: spin 1s infinite ease-in-out;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }

}

body {
    background-color: rgb(253, 252, 240);
    font-family: 'MaruBuri-Regular';
}

