@font-face {
    font-family: 'paybooc-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/paybooc-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.nav {
    position: fixed;

    width: 100vw;
    height: 10vh;
    padding: 10px 30px;

    display: flex;
    justify-items: row;
    align-items: center;
    justify-content: space-between;

    background-color: rgb(254, 248, 220);
    border-bottom: 5px dashed rgb(231, 26, 15);
    border-top: 5px dashed rgb(231, 26, 15);
}

.nav.scroll-opacity{
    opacity: 0.3;
    transition: 3ms ease-in;
}

.nav .nav__link a {
    all:unset;
    margin-right: 30px;

    cursor: pointer;

    color: black;
    font-family: "paybooc-Bold";
    font-size: 1.2rem;
}

@media screen and (max-width: 800px) {
    .nav .nav__link a {
        font-size: 0.9rem;
        margin-right: 10px;
    }
}